/* Import Fonts */

@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@font-face{
    font-family: 'Horatio';
    src: url('../fonts/trajan.ttf') format('truetype');
}

.container {
    background: #f8f8f8;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-size: 100% auto;
}

.content {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100vw;
    max-width: 1200px;
}


.about-me {
    display: flex;
    align-self: center;
    text-align: center;
    letter-spacing: 0.5px;
    font-family: 'Playfair Display';
    font-size: 30px;
    max-width: 900px;
    padding: 0 60px 140px;
}

.about {
    padding: 0 10px;
}

.contact {
    padding: 0 10px;
}

a {
    text-decoration: none;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: black;
}

a:active {
    color: black;
}